[defaults]
#inventory = ./hosts
inventory = inventory
private_key_file = /Users/klarsen/.vagrant.d/insecure_private_key
remote_user = vagrant
#host_key_checking = False
#executable = /bin/bash
executable = /bin/sh
# Use Redis as backend.
#gathering = smart
#fact_caching = redis
#fact_caching_timeout = 86400
#fact_caching_prefix = ansible_facts
#fact_caching_connection = localhost:6379:0
#strategy_plugins = ~/projects/mitogen/ansible_mitogen/plugins/strategy
#strategy = mitogen_linear
gathering = smart
fact_caching_connection = /tmp/facts_cache
fact_caching = jsonfile
deprecation_warnings=False


[ssh_connection]
scp_if_ssh = True
#pipelining = True
host_key_checking = False
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o ForwardAgent=yes
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
